<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Typeflow</title>
  </head>
  <body>

    <div class="logo">
      <img src="logo.svg" alt="Typeflow e.U. Logo"/>
    </div>

    <article class="under-construction">
      <h1>the art of code</h1>
      <p class="intro">In kürze erfahren Sie mehr über die Agentur auf dieser Seite. Bei Fragen wenden Sie sich bitte an Lukas Holzer.</p>
      <p>
        <strong>Lukas Holzer</strong><br />
        Sandgasse 16/3<br />
        4020 Linz<br />
        <a href="mailto:lukas.holzer@typeflow.cc">lukas.holzer@typeflow.cc</a><br>
        <a href="tel:+436604835548">+43&nbsp;660 48&nbsp;355 48</a>
      </p>
    </article>

  </body>
</html>
